#scoreboard-frame ,
#player-stats-frame,
#XXXinventory-frame {
	XXXborder: 2px dotted orange;
}
#player-stats-frame,
#inventory-frame .slot {
	border: 3px solid #0000007d;
	background-color: #00000033;
	border-radius: 15px;
}

/* Scoreboard Frame */
#scoreboard-frame {
	position: absolute;
	width: 1000px;
	height: 2px;
	bottom: 20px;
	left: 20px;
}

/* Player Stats Frame */
#player-stats-frame {
	width: 320px;
	height: 200px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
#player-stats-frame #points-digit,
#player-stats-frame #points-guage,
#player-stats-frame #level-digit {
	XXXXborder: 1px solid lime;
	position: absolute;
	top: 0px;
	XXXXXXheight: 40px;
}
div#points-level-frame {
    top: 10px;
    position: relative;
}
div#level-label {
	position: absolute;
	left: 10px;
}
#player-stats-frame #points-digit {
	width: 100%;
	left: 0px;
	color: white;
	text-shadow: 1px 1px #000000;
	text-align: center;
}
#player-stats-frame #points-guage {
	width: 200px;
	XXXXXborder: 1px solid yellow;
	left: 60px;
	background-color: #88FFAA88;
}
#points-guage .fuel {
	background-color: #00000044;
	height: 20px;
	width: 1px;
	transition: width .5s;
}

#player-stats-frame #level-digit {
	width: 40px;
	right: 0;
}
/* Inventory Frame */
#inventory-frame {
	width: 98%;
	height: 80px;
	bottom: 0px;
	position: absolute;
	left: 20px;
	XXXpadding-left: 320px;
}
div#inventory-frame .slot:first-child {
	margin-left: 320px;
}
#inventory-frame .slot {
	width: 70px;
	height: 70px;
	display: inline-block;
	margin-right: 8px;
	/*
	#0000FF33 url(../img/bacon.png) no-repeat center center;
	*/
}

#inventory-frame .slot .icon {
	XXXbackground-image: url(../img/blank.png);
	XXXborder: 1px solid orange;
	background-repeat: no-repeat;
	background-position: center center; 
	width: 100%;
	height: 100%;
}

#inventory-frame .slot .digit {
	display: inline-block;
	position: absolute;
	width: 70px;
	text-align: center;
	font-size: 24pt;
	top: 19px;
}