#scoreboard-frame ,
#player-stats-frame,
#XXXinventory-frame {
	XXXborder: 2px dotted orange;
}
#player-stats-frame,
#inventory-frame .slot {
	border: 3px solid #0000007d;
	background-color: #00000033;
	border-radius: 15px;
}

/* Scoreboard Frame */
#scoreboard-frame {
	position: absolute;
	width: 1000px;
	height: 2px;
	bottom: 20px;
	left: 20px;
}

/* Player Stats Frame */
#player-stats-frame {
	width: 300px;
	height: 200px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
#player-stats-frame #points-digit,
#player-stats-frame #points-guage,
#player-stats-frame #level-digit {
	border: 1px solid lime;
	position: absolute;
	top: 0px;
	height: 40px;
}
#player-stats-frame #points-digit {
	width: 40px;
}
#player-stats-frame #points-guage {
	width: 220px;
	border: 1px solid yellow;
	left: 40px;
}
#player-stats-frame #level-digit {
	width: 40px;
	right: 0;
}
/* Inventory Frame */
#inventory-frame {
	width: 98%;
	height: 80px;
	bottom: 0px;
	position: absolute;
	left: 20px;
	XXXpadding-left: 320px;
}
div#inventory-frame .slot:first-child {
	margin-left: 320px;
}
#inventory-frame .slot {
	width: 70px;
	height: 70px;
	display: inline-block;
	margin-right: 8px;
	background-repeat: no-repeat;
	background-position: center center; 
	/*
	#0000FF33 url(../img/bacon.png) no-repeat center center;
	*/
}

#inventory-frame .slot .digit {
	display: inline-block;
	position: absolute;
	width: 70px;
	text-align: center;
	font-size: 24pt;
	top: 19px;
}